.layout {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: calc(100dvh - #{$default-header_height});

  .body {
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-width: $pc-max-width;
    padding: 0 $marppleshop-layout-padding;
  }

  .footer {
    width: 100%;
  }

  &.full_width {
    .body {
      max-width: unset;
      padding: 0;
    }
  }
}
